# STM32F401 BlackPill board configuration

# Copyright (c) 2021 Pete Johanson
# SPDX-License-Identifier: Apache-2.0

if BOARD_STM32F401_BLACKPILL

config ZMK_KEYBOARD_NAME
	default "stm32f401_blackpill"

config ZMK_USB
	default y

config ZMK_BATTERY_VOLTAGE_DIVIDER
	default n

endif # BOARD_STM32F401_BLACKPILL
